.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}
.filter{
    margin: 5% 10% ;
  }
.filter:hover {
    transform: scale(1.2);
  }
@media (max-width: 767px) {
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        display: block;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #dee2e6;
    }

    .table td {
        display: block;
        text-align: left;
        padding: 0.75rem;
        position: relative;
        border: none;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-right: 0.5rem;
        white-space: nowrap;
        font-weight: bolder;
        background: #f8f9fa;
        border-right: 1px solid #dee2e6;
    }
}



.table .text-end {
    text-align: right;
}


h3{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
