@if(reviews.length === 0){
    <div class="alert alert-warning">
      <i class="fa fa-circle-info"></i>
      No tienes reseñas todavía
    </div>
    } @else {
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Puntuación</th>
          <th scope="col">Titulo</th>
          <th scope="col">Comentario</th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody>
        @for(review of reviews; track review){
        <tr>
          
          <td>{{ review.rating}}</td>
          <td>{{ review.book.title }}</td>
          <td>{{ review.review }}</td>
          <td><button (click)="eliminar(review._id)" class="btn btn-danger btn-sm me-1"> 
            <i class="fa fa-trash"></i>
           </button></td>
        </tr>
        }
      </tbody>
    </table>
    }
    