.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
.table th, .table td {
    border: none;
    padding: 15px;
}
.table thead th {
    background-color: #f8f9fa;
    color: #333;
}
.table tbody tr {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.table tbody tr:hover {
    background-color: #e9ecef;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.table td {
    vertical-align: middle;
}
.table td:first-child {
    width: 60px; /* Ajusta el ancho de la columna si es necesario */
}
.alert-warning {
    margin-bottom: 20px;
    font-size: 1.1rem;
}
.fa-circle-info {
    margin-right: 10px;
}