
<section class="section d-flex flex-column justify-content-end">
   
      <div class="row custom-row text-center">
          <div class="col-lg-4">
            <img src="https://imagedelivery.net/mWv_TJsq38van820M8-SNQ/a680cc95-6af7-4bd0-0674-1217c7d0d600/misc750x421" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Libros de verano">
            <h2 class="fw-normal">Libros de verano</h2>
            <p>Descubre tu próxima lectura bajo el sol</p>
            <p><a class="btn btn-secondary" href="/stations">Leer »</a></p>
          </div>
          <div class="col-lg-4">
            <img src="https://th.bing.com/th/id/OIP.f2RCgL5HSko8hvxqGCfQZQHaFS?w=233&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Libros de verano">
            <h2 class="fw-normal">Los libros más vendidos</h2>
            <p>Descubre los libros más populares del año</p>
          <p><a class="btn btn-secondary" href="/bestSeller">Leer »</a></p>
          </div>
          <div class="col-lg-4">
            <img src="https://3.bp.blogspot.com/-ccr_opTyOq4/WhLNnJNtoXI/AAAAAAAAFIE/sGPj9bmESVAOjLYtevjiv7AhA_BtV1HRQCLcBGAs/s640/NOVEDADES%2Bnoviembre%2B2017.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Libros de verano">
            <h2 class="fw-normal">Novedades Literarias</h2>
            <p>Descubre las Últimas Publicaciones</p>
            <p><a class="btn btn-secondary" href="/new">Leer »</a></p>
          </div>
        </div>
   
</section> 


<!-- <section class="section2">
<input [(ngModel)]="filtro" type="text" class="form-control" placeholder="Filtrar Libros">
</section> -->

<section>
<app-book></app-book>
</section>
