.section {
    background-color: #ffffff;
    height: 60vh;
    background-image: url('https://img.freepik.com/vector-gratis/amigos-leyendo-juntos-ilustrados_52683-22183.jpg?t=st=1722226305~exp=1722229905~hmac=7ffc13708a8b12eaac499700193806b4f04097fa4dde99b8c94831eaf76e3f0b&w=1380') ;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: flex-end;
} 

.row {
    padding: 2rem 0;
    margin: 2rem auto;
    max-width: 1200px;
    border-radius: 0.5rem;
    background-color: #ffffff9f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
} 

.bd-placeholder-img {
    margin-bottom: 10px;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}