.section {
  background-color: #ffffff;
  height: 60vh;
  background-image: url('../../../images/5306597_2785751.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen */
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.custom-row {
  padding: 2rem 0;
  margin: 2rem auto;
  max-width: 1200px;
  border-radius: 0.5rem;
  background-color: #ffffffd4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap; /* Permite que el contenido se ajuste */
}

.btn {
  background-color: #d2691ee2;
  color: #05224B;
  box-shadow: 10px 10px 29px -15px rgba(0, 0, 0, 0.57);
}

.btn:hover {
  transform: scale(1.2);
}

.bd-placeholder-img {
  margin-bottom: 10px;
  width: 140px;
  height: 140px;
}

@media (max-width: 992px) {

  .custom-row {
    flex-direction: column; /* Coloca el contenido en columna en pantallas más pequeñas */
    align-items: center; /* Centra el contenido en columnas */
  }
  .bd-placeholder-img {
    display: none;
  }

  .custom-row h2 {
    font-size: 1rem;
  }

  .custom-row p {
    font-size: 0.5rem;
  }

  .btn-secondary {
    font-size: 0.5rem;
    padding: 0.2rem 1rem;
  }
}
