<section class="section d-flex flex-column justify-content-end">
  <div class="row custom-row text-center">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="d-flex flex-column align-items-center ">
        <img src="https://img.freepik.com/vector-gratis/ilustracion-plana-libros-lectura-verano-hombre-sentado-silla-piscina_23-2149446908.jpg?t=st=1722248338~exp=1722251938~hmac=c41ed53b77c03d4b462a9d5739ef11830f5f22ec675c4e5ba88c1c54d4d6ce3b&w=1480" class="bd-placeholder-img rounded-circle" alt="Libros de verano">
        <h2 class="fw-normal">Libros de verano</h2>
        <p>Descubre tu próxima lectura bajo el sol</p>
        <p><a class="btn btn-secondary" href="/stations">Leer »</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="d-flex flex-column align-items-center ">
        <img src="https://img.freepik.com/vector-gratis/ilustracion-pila-libros-diseno-plano-dibujado-mano_23-2149330602.jpg?t=st=1722248511~exp=1722252111~hmac=329ed95751103072eb36a0ba475a68f189fbad3096bd5cc639af2befd95e3e7d&w=1380" class="bd-placeholder-img rounded-circle" alt="Los libros más vendidos">
        <h2 class="fw-normal">Los más vendidos</h2>
        <p>Descubre los libros más populares del año</p>
        <p><a class="btn btn-secondary" href="/bestSeller">Leer »</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="d-flex flex-column align-items-center ">
        <img src="https://img.freepik.com/vector-gratis/pequena-mujer-sentada-ilustracion-vector-plano-libro-enorme_74855-5946.jpg?t=st=1722224900~exp=1722228500~hmac=d3c7e1f09fb95194b320903662175ea8d0276801b02fc8f943818af09a48e009&w=1380" class="bd-placeholder-img rounded-circle" alt="Novedades Literarias">
        <h2 class="fw-normal">Novedades </h2>
        <p>Descubre las Últimas Publicaciones</p>
        <p><a class="btn btn-secondary" href="/new">Leer »</a></p>
      </div>
    </div>
  </div>
</section>

<section>
  <app-book></app-book>
</section>
