<h1>Sign up</h1>
<form [formGroup]="form" (ngSubmit)="signUp()">

    <div>
        <label for="email">Email</label>
        <input type="text" formControlName="email" placeholder="ejemplo@mail.com">
    </div>

    <div>
        <label for="username">Usuario</label>
        <input type="text" formControlName="username" placeholder="Username">
    </div>

    <div>
        <label for="password">Contraseña</label>
        <div>
            <input formControlName="password" [type]="password">
            <button type="button" (click)="password = (password === 'text') ? 'password' : 'text'">
                @if(password === 'text'){
                    <i class="fa fa-eye-slash"></i>
                }
                @else {
                    <i class="fa fa-eye"></i>
                }
            </button>
        </div>
    </div>

    <button>Sign up</button>
</form>

<p>
  ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a> 
</p>