<h1>Sign up</h1>
<form>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="ejemplo@mail.com">
    </div>
    <div>
        <label for="username">Usuario</label>
        <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <div>
        <label for="password">Contraseña</label>
        <div class="">
            <input formControlName="" [type]="" class="form-control">
            <button type="button" ></button>
        </div>
    </div>
    <button class="">Sign up</button>
</form>

<p>
  ¿Ya tienes cuenta? <a>Inicia sesión aquí</a> 
</p>