.book-card {
    width: 300px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  
  .book-card img {
    width: 70%; 
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
    display: block; 
    margin: 0 auto; 
  }
  
  .book-card h1 {
    margin: 10px 0;
  }
  
  .book-card p {
    margin: 5px 0; 
  }
  