<div class="card" style="width: 18rem;">
    <img [src]="book.image" class="card-img-top" alt="{{ book.title }}" height="160">
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      @for(star of fullStars; track star){
        <i class="fa fa-star"></i>
    }
   
    @if(fullStars.length < book.rating){
        <i class="fa fa-star-half-stroke"></i>
    }

      <p class="card-text">Autor: {{ book.author }}</p>
      <p class="card-text">Género: {{ book.genre }}</p>
      <p class="card-text">Año de publicación: {{ book.publicationYear }}</p>
      <p class="card-text">Sinopsis: {{ book.synopsis }}</p>
      <button class="btn btn-outline-primary">Agregar reseña</button>
      <!--@if(user.role === 'admin'){
        <button (click)="editar(book._id)" class="btn btn-outline-secondary">Editar</button>
        <button (click)="eliminar(book._id)" class="btn btn-outline-danger">Eliminar</button>
      }-->
    </div>
  </div>
  