
h3{
    text-align: center;
  margin-bottom: 15px;
}
.profileHeader {
    height: 60vh;
    background-image: url('../../../images/16217938_2005.i506.017_read_book_family_isometric.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 20px; 
    background-position: 50% 70%;
}

.welcome-message {
    font-family: "Libre Baskerville", serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    max-width: 100%; 
    background-color: rgba(255, 255, 255, 0.785);
    border-radius: 15px;
    padding: 10px;
}

.addBook {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d2691ee2;
    color: #05224B;
    box-shadow: 10px 10px 29px -15px rgba(0,0,0,0.57);
}
.btn{
    background-color: #d2691ee2;
    color: #05224B;
    box-shadow: 10px 10px 29px -15px rgba(0,0,0,0.57);
}
.btn:link,
.btn:visited {
 text-decoration: none;
 color:#05224B;
 padding: 7px 15px;
 border: 1px solid #69300798;
 border-radius: 10px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px #69300798;
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 background-color: #d2691ee2;
 transform: scaleX(1.2) scaleY(1.2);
 opacity: 0;
}

@media (min-width: 768px) {
    .profileHeader {
        flex-direction: row; 
        justify-content: space-between;
        background-size: cover; 
    }
    
    .welcome-message {
        font-size: 2.5rem; 
        text-align: left; 
        margin-bottom: 0; 
    }
}

@media (min-width: 992px) {
    .profileHeader {
        height: 500px; 
        background-size: cover; 
    }
}

.book-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.book-card img {
    max-width: 100px;
    margin-right: 20px;
    flex-shrink: 0;
}
.book-card-body {
    flex: 1;
    min-width: 200px;
}
.toggle {
    color: #007bff;
    cursor: pointer;
}
.btn-outline-primary, .btn-outline-secondary {
    margin-top: 10px;
}

@media (max-width: 767px) {
    .book-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .book-card img {
        margin-bottom: 10px;
    }
    .book-card-body {
        text-align: left;
    }
}
