<div>
<div class="card" style="width: 18rem;" id="card-profile">
    <img [src]="user.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
    
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{user.email}}</li>
     
    </ul>
  </div>
<div>
<div id="mybooks">
@if(books.length === 0){
    <p>no tienes libros </p>
} @else {
    @for (book of books; track book) {
        <p class="card-text">Autor: {{ book.author }}</p>
      <p class="card-text">Género: {{ book.genre }}</p>
      <p class="card-text">Año de publicación: {{ book.publicationYear }}</p>
      <p class="card-text">Sinopsis: {{ book.synopsis }}</p>
      <p class="card-text">Sinopsis: {{ book.rating}}</p>
    }

}
</div>
<div id="myreview">

</div>
</div>


</div>