.profileHeader {
    height: 60vh;
    background-image: url('../../../images/22896105_6728380.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 20px; 
    background-position: center; 
    

}


.welcome-message {
    font-family: "Libre Baskerville", serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    max-width: 100%; 
}


@media (min-width: 768px) {
    .profileHeader {
        flex-direction: row; 
        justify-content: space-between;
        background-size: cover; 
    }
    
    .welcome-message {
        font-size: 2.5rem; 
        text-align: left; 
        margin-bottom: 0; 
    }
}


@media (min-width: 992px) {
    .profileHeader {
        height: 500px; 
        background-size: cover; 
    }
}


.book-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.book-card img {
    max-width: 100px;
    margin-right: 20px;
}
.book-card-body {
    flex: 1;
}
.toggle {
    color: #007bff;
    cursor: pointer;
}
.btn-outline-primary, .btn-outline-secondary {
    margin-top: 10px;
}