<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid position-relative">


    <span class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </span>

    
    <!-- Logo que siempre permanece visible -->
    <h1 class="navbar-brand position-absolute start-50 translate-middle-x">ReadsLike</h1>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <!-- Ocultar en pantallas medianas y más grandes, mostrar en pantallas pequeñas -->
          <a class="nav-link d-md-none" aria-current="page" routerLink="/">Home</a>
          <!-- Mostrar en pantallas medianas y más grandes, ocultar en pantallas pequeñas -->
          <a class="nav-link d-none d-md-block" aria-current="page" routerLink="/"><i class="fa-solid fa-house"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        @if(authService.user === null) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Regístrate</a>
          </li>
        }

        @if(authService.user && authService.user.role === 'admin') {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
              <i class="fa-solid fa-user-gear"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/admin/books">Books</a></li>
              <li><a class="dropdown-item" routerLink="/admin/users">Usuarios</a></li>
              <li><a class="dropdown-item" routerLink="/admin/reviews">Reviews</a></li>
              <li><a class="dropdown-item" aria-current="page" routerLink="/me">Mi perfil</a></li>
              <li class="dropdown-item d-flex align-items-center"></li>
            </ul>
          </li>
          <button class="nav-link btn btn-link" (click)="confirmLogout()">Salir <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        } @else {
          @if (authService.user) {
            <a class="nav-link active" aria-current="page" routerLink="/me"><i class="fa-regular fa-user"></i></a>
            <button class="nav-link btn btn-link" (click)="confirmLogout()">Salir <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
          }
        }
      </ul>
    </div>
  </div>
</nav>
