<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"><i class="fa-solid fa-house"></i></a>
        </li>
      </ul>
      <h1 class="navbar-brand mx-auto position-relative">ReadsLike</h1>
      <ul class="navbar-nav ms-auto">
        @if(authService.user === null) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Regístrate</a>
          </li>
        }

        @if(authService.user && authService.user.role === 'admin') {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
              <i class="fa-solid fa-user-gear"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/admin/books">Books</a></li>
              <li><a class="dropdown-item" routerLink="/admin/users">Usuarios</a></li>
              <li><a class="dropdown-item" routerLink="/admin/reviews">Reviews</a></li>
              <li><a class="dropdown-item" aria-current="page" routerLink="/me">Mi perfil</a></li>
              <li class="dropdown-item d-flex align-items-center">
                <button class="nav-link btn btn-link" (click)="confirmLogout()">Salir</button>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </li>
            </ul>
          </li>
        } @else {
          @if (authService.user) {
            <a class="nav-link active" aria-current="page" routerLink="/me"><i class="fa-regular fa-user"></i></a>
            <button class="nav-link btn btn-link" (click)="confirmLogout()">Salir <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
          }
         
        }
      </ul>
    </div>
  </div>
</nav>
