.navbar {
    background-color: #d2691ee2;
     /* Color teja */
}
.navbar-brand,
.nav-link,
.navbar-toggler-icon {
    color: #05224B !important; 
    /* azul oscuro */
}
.nav-link.active {
    color: #1954a8 !important;  
    /* azul un poco mas claro  */
}
.dropdown-menu {
    background-color: #d47837; 
}
.dropdown-item {
    color: #1954a8  !important; 
}
.dropdown-item:hover {
    background-color: #A0522D; /* Color teja más oscuro para hover */
    color: #05224B !important; /* Color verde oliva más claro para hover */
}
.btn-link {
    color: #05224B  !important; /* Color verde oliva para el botón de logout */
}
.btn-link:hover {
    color:#1954a8  !important; /* Color verde oliva más claro para hover */
}
.btn:hover {
    transform: scale(1.2);
    color:#1954a8  !important;
  }

a:hover{
    transform: scale(1.2);
    color:#1954a8  !important;
}


h1{
    font-weight: bold;
    font-size: 3vh;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1; /* Asegúrate de que esté por encima del contenido colapsable */
  }
  
  .navbar-collapse {
    z-index: 2; /* Asegúrate de que los elementos del nav estén por encima del logo */
  }
  
  @media (max-width: 767.98px) {
    .navbar-brand {
      position: fixed;
      top: 10px;
    }
  }
  