@if(ratings.length === 0) {
  <div class="alert alert-warning">
      <i class="fa fa-circle-info"></i>
      Este libro aún no tiene reseñas. Se el primero en comentar!
  </div>
} @else {
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Puntuación:</th>
        <th scope="col">Comentario:</th>
        <th scope="col">Usuario</th>    
    </tr>
     
  </thead>

  <tbody>
    @for (rating of ratings; track rating) {
    <tr>

      <td>{{ rating.rating }}</td>
      <td>{{ rating.review }}</td>
      <td>{{ rating.user.username}}</td>
    </tr>
  }
  </tbody>

</table>
}



<div class="row">
    @if(book){
    <div class="col-md-5">
      <div>
        <h1>{{ book.title }}</h1>
        <img [src]="book.image" width="350" alt="" />

      </div>
    </div>
    <div class="col-md-1 col-lg-1 d-none d-md-block">
      <div class="separador"></div>
    </div>
    <div class="d-block d-sm-none">
      <hr />
    </div>
    <div class="col-md-5">
      <form [formGroup]="form" (ngSubmit)="enviar()">
        <div class="mb-3">
          <label class="form-label" for="">Puntuación:</label>
          <input formControlName="rating" class="form-control" type="number" />
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="">Comentario:</label>
          <input formControlName="review"  class="form-control" type="text" />
        </div>
  
        <div>
         
        </div>
  
  
      
<button class="btn btn-success">Agregar reseña</button>


      </form>
    </div>
    }
  </div>
  
