<div id="books-section">
  @if(ratings.length === 0) {
      <div class="alert alert-warning">
          <i class="fa fa-circle-info"></i>
          Este libro aún no tiene reseñas. Se el primero en comentar!
      </div>
  } @else {
      @for (rating of ratings; track rating) {
              <div class="book-card-body">
                  <p class="card-text">Puntuación: {{ rating.rating }}</p>
                  <p class="card-text">Comentario: {{ rating.review}}</p>
                  <p class="card-text">Por {{ rating.user.username}}</p>
                 
              </div>
      }
  }
</div>


<div class="row">
    @if(book){
    <div class="col-md-5">
      <div>
        <h1>{{ book.title }}</h1>
        <img [src]="book.image" width="350" alt="" />

      </div>
    </div>
    <div class="col-md-1 col-lg-1 d-none d-md-block">
      <div class="separador"></div>
    </div>
    <div class="d-block d-sm-none">
      <hr />
    </div>
    <div class="col-md-5">
      <form [formGroup]="form" (ngSubmit)="enviar()">
        <div class="mb-3">
          <label class="form-label" for="">Puntuación:</label>
          <input formControlName="rating" class="form-control" type="number" />
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="">Comentario:</label>
          <input formControlName="review"  class="form-control" type="text" />
        </div>
  
        <div>
         
        </div>
  
  
      
<button class="btn btn-success">Agregar reseña</button>


      </form>
    </div>
    }
  </div>
  
